@font-face {
    font-family: 'aliceregular';
    src: url('fonts/Alice-Regular-webfont.eot');
    src: url('fonts/Alice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alice-Regular-webfont.woff2') format('woff2'),
         url('fonts/Alice-Regular-webfont.woff') format('woff'),
         url('fonts/Alice-Regular-webfont.ttf') format('truetype'),
         url('fonts/Alice-Regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: darkslategrey;
    color: white;
    font-family: 'aliceregular', Georgia, 'Times New Roman', Times, serif;
}


header{
    display:flex;
    margin-bottom: 10px;
}


#titre{
    font-size: 3em;
    font-weight: bold;
    text-shadow: 5px 5px 3px black;
    margin-left: 30px;
    justify-content: flex-start;
    flex: 1;
}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}


nav li
{
    margin-right: 15px;
    font-size: 1.5em;
    text-shadow: 4px 4px 3px black;

}


.title1{
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black ;
}



a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: aliceblue;
}


a:hover /* Apparence au survol des liens */
{
   font-weight: bold;
}


h1{
    font-size: 1.3em;
    text-shadow: 3px 3px 3px black;
}


#contact1{
    display: flex;
    justify-content: left;
    padding-left: 50px;
    padding-top: 50px;
    text-shadow: 3px 3px 3px black;

}

#contact2{
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 3px black;

}

#contact3{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    text-shadow: 3px 3px 3px black;
}

#p1{
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

#p2{
    display: flex;
    justify-content: center;
}

#p3{
    display: flex;
    justify-content: right;
    margin-right: 60px;
}





/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('biology.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}


#p_acceuil{
    font-size: 1.4em;
}

#h_acceuil{
    font-size: 2.3em;
}

.img{
    display: flex;
    flex-direction: column-reverse;
}